.card1 {
  margin-top: 10px;
  margin-left: 37%;
  border-radius: 12px;
  box-shadow: 2px 4px;
  height: 620px;
  width: 340px;
  border: 2px solid black;
  margin-bottom: 10px;
}
.content1 {
  margin-top: 0px;
  border-radius: 12px;
}
.card-img1 {
  height: 280px;
  width: 100%;
}
.para1 {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  font-weight: bold;
}
.btn12 {
  width: 150px;
  font-size: large;
  font-weight: bold;
  margin-left: 70px;
  margin-bottom: 20px;
}
.space {
  margin-bottom: 20px;
}
.m1 {
  text-align: center;
}
